<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirebaseApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AB8D39B1DF1316800EFE0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB8D3B41DF1316800EFE0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AB8D3BF1DF1316800EFE0E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
